body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

#chatbox {
    border: 1px solid #ccc;
    padding: 10px;
    background: white;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#chat-output {
    height: 300px;
    overflow-y: scroll;
    border-bottom: 5px solid #1d1c1c;
    margin-bottom: 10px;
    padding: 10px;
    background: #f1eeee;
}

.bot-response{
    background-color: rgb(244, 249, 247);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    padding-top: 3rem;
    border-style: solid;
    border-width: 0px;
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
}

.bot-label{
    position: absolute;
    font-size: 1.1rem;
    background-color: blue;
    color: #f1eeee;
    padding: 0.2rem 1rem;
    border-radius: 10px;
    top: 0.4rem;
    left: 0.6rem;
}

.user-message{
    background-color: rgb(244, 249, 247);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    padding-top: 3rem;
    border-style: solid;
    border-width: 0px;
    margin-top: 5px;
    border-radius: 10px;
    position: relative;
}

.user-label{
    position: absolute;
    font-size: 1.1rem;
    background-color: green;
    color: #f1eeee;
    padding: 0.2rem 1rem;
    border-radius: 10px;
    top: 0.4rem;
    left: 0.6rem;
}

#user-input {
    width: calc(100% - 60px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #555;
}

#info {
    max-width: 600px;
    margin: 20px auto;
}

#visa-info {
    margin-top: 10px;
    padding: 10px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
